body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MemContainer{
  border: 2px solid black;
  width: 50%;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.MemContainer img {
  width: 50%;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.MemTitle{
  text-align: center;
}
